/* ---------------- TOPOGRAPHY START ---------------- */
.h11{
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 69px;
    color: #222549;
}

.h22{
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    color: #222549;
}

.h33{
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 44px;
    color: #222549; 
}
.h44{
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 32px;
    color: #222549;
}

.body1{
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #222549;
}

.body2{
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #222549;
}

.button-big{
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #222549;
}

.button-small{
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    color: #222549;
}

.caption{
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #222549;
}
/* ---------------- TOPOGRAPHY END ---------------- */


/* ---------------- COLORS START ---------------- */
:root{
    /* primary palette */

    --primary500: #353A8D;
    --primary2: #40DD9C;
    --primary3: #36385A;

     /* sedondary palette */

     --p100: #E2E3E9;
     --p0: #9C9DB2;
     --p1: #60627D;
     --p2: #4B4D6C;
     --p3: #36385A;
     --p4: #222549;

     --teal100: #D8EFF0;
     --teal900: #45888E;
     --primary900: #10246A;

     /* semantic palette */
     --succes-100: #EBF4E7;
     --succes-500: #6AA64F;
     --succes-900: #3C7425;

     --warning-100: #FBF4E0;
     --warning-500: #BD8E00;
     --warning-900: #8F6B00;

     --error-100: #F9E2E2;
     --error-500: #DE6664;
     --errow-900: #B33A38;
}
/* ---------------- COLORS END ---------------- */



/* ---------------- ELEVATION START ---------------- */
.shadow-f1{
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(8, 68, 73, 0.24), 0px 4px 16px rgba(8, 68, 73, 0.35);
    border-radius: 8px;
}
 .shadow-f2{
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(8, 68, 73, 0.35);
    border-radius: 8px;
 }

/* ---------------- ELEVATION END ---------------- */